body {
  width: 100%;
  Height: 100%;
  Margin:0;
  background-color: powderblue;
  color: blue;
  font: 16px serif;
  line-height: 20px;
}

.Heading h1 {text-decoration: underline;color:black;}
.Heading p {font-weight: bold;text-decoration: underline;color:black;}

.Box-1 {
  background-color: lightblue;font-weight: bold;
  font-style: sans-serif;
  color: black;
  border: 3px green solid;
  padding: 13px;
  margin-top: 20px;
}

.Box-1 h1 {color:green;
  font-family: sans-serif;text-decoration: underline;
  font-style: italic;
}
.Box-1 ul {list-style: none; left: auto;}


.container {
  width: 80%;
  margin: auto;
}

a:hover {
  color: red;
}
a{ color:blue;}

.Box-2 {
  background-color: lightblue;
  font-style: italic;font-weight: bold;
  color: black;
  border: 3px green solid;
  padding: 13px;
  margin-top: 20px;
}

.Box-2 h1 {color:green;text-decoration: underline;}
.Box-2 ul {list-style: none; left: auto;}


.Box-3 {
  background-color: lightblue;
  font-style: serif;font-weight: bold;
  color: black;
  border: 3px green solid;
  padding: 13px;
  margin-top: 20px;
}

.Box-3 h1 {color:green;text-decoration: underline;}
.Box-3 ul {list-style: none; left: auto;}

.Select {
  background-color: lightblue;
  font-style: serif;font-weight: bold;
  color: black;
  border: 3px green solid;
  padding: 13px;
  margin-top: 20px;
}

.Form label {display:block;padding: 5px;}
.Form input {padding: 8px;width:80%;margin:20px;}
.Form textarea {padding: 8px;width:80%;margin:20px;}
.Form h1 {margin-left: 20px; text-decoration: underline;}
.Form h3 {margin-left: 20px; text-decoration: underline;}
.Form input[type="submit"]{background-color:#fa7d09 }
